[Unit]
Description=Videoreg Camera
After=vrg-boot.target
PartOf=vrg-boot.target

[Service]
User=$VIDEOREG_USER
Group=$VIDEOREG_GROUP
ExecStart=bash $VIDEOREG_PROJECT_HOME/task/service/vrg-camera.sh --videoreg-project-home $VIDEOREG_PROJECT_HOME
Type=simple
Restart=always
TimeoutStopSec=4

[Install]
WantedBy=vrg-boot.target